:root {
  --primary-color: rgb(242, 132, 179);
  --backgrounf-color: rgb(255, 253, 240);
  --primary-color-transparent: rgba(242, 132, 180, 0.459);
  --about-me-color: black;
  --home-svg-opacity: 0;
  --svg-color-primary: black;
  --show-menu: 0;
  --y-transform-transition: translateY(10px);
  --title-h1-size: 55px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--backgrounf-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

h1 {
  font-family: "Questrial", sans-serif;
  font-size: 3.9vw;
}

h3 {
  font-family: "Questrial", sans-serif;
  font-size: 1.7vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Header */

header li {
  opacity: var(--show-menu);
  display: inline;
  margin: 0px;
  font-size: 20px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}

header li a:hover,
header li a:focus {
  color: var(--primary-color);
}

header li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: translate3d(-100%, 0, 0);
}

a:hover::after,
a:focus::after {
  background-color: var(--primary-color);
  opacity: 0.9;
  transform: translate3d(0, 0, 0);
}

/* Home */

.home-container {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}

.yanis,
.developer,
.algeria {
  fill: var(--svg-color-primary);
}

.about-me {
  fill: var(--about-me-color);
}

.about-me-underline {
  stroke: var(--about-me-color);
}

.smooth-transition,
svg path,
header li a {
  transition: all 0.3s ease-in-out;
}

.home-container svg a, #li-about {
  cursor: pointer;
}

.home-container svg path {
  opacity: var(--home-svg-opacity);
}

.transformation-y {
  transform: var(--y-transform-transition);
}

.beside-svg-top {
  opacity: var(--show-menu);
  font-family: "Questrial", sans-serif;
  position: absolute;
  width: 220px;
  margin-right: 70px;
  margin-top: 50px;
  top: 0;
  right: 0;
  font-size: 18px;
}

.beside-svg-bot {
  opacity: var(--show-menu);
  font-family: "Questrial", sans-serif;
  position: absolute;
  width: 300px;
  margin-left: 70px;
  top: 45%;
  left: 0;
  font-size: 18px;
}

/* Projects */

.projects-container,
.about-container,
.technical-skills,
.footer-container {
  margin: 200px 100px 0px 100px;
  font-family: "Questrial", sans-serif;
}

.projects-container h2 {
  font-size: 2.3vw;
  margin-top: 50px;
}

.card-desc {
  max-width: 40vw;
  color: gray;
}

.card {
  position: relative;
  max-width: 40vw;
  max-height: 60vh;
  box-shadow: 0 40px 60px -6px black;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-action {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  width: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  background-color: var(--backgrounf-color);
  transition: all 0.8s ease;
  overflow: hidden;
}

.card:hover .card-action {
  border-radius: 0;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  background-color: rgba(255, 253, 240, 0.79);
  backdrop-filter: blur(2px);
}
.card-action button {
  white-space: nowrap;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 3px solid var(--primary-color-transparent);
  background-color: transparent;
  font-family: "Questrial", sans-serif;
  word-wrap: normal;
  font-size: 30px;
  padding: 1.3vw 4vh;
}

.card-action button:hover {
  color: white;
  background-color: var(--primary-color-transparent);
  transition: all 0.3s ease-in-out;
}

.cards {
  display: flex;
  justify-content: first baseline;
  flex-direction: column;
}

.cards > div {
  margin-bottom: 10vh;
  padding: 0px 10vw;
}

.card2 {
  align-self: flex-end;
}

/* About */

.about-container {
  position: relative;
}

.about-desc,
.true-skills .true-skills-desc {
  width: 30vw;
}

.about-desc p {
  margin-top: 7vw;
}

.about-desc p,
.true-skills p {
  text-align: left;
  font-size: 20px;
}

.image-about {
  position: absolute;
  top: 0;
  right: 0;
}

.image-about img {
  -webkit-filter: grayscale(95%); /* Safari 6.0 - 9.0 */
  filter: grayscale(95%);
  z-index: 99;
  width: 25vw;
}

.image-about .about-image-desc {
  width: 30vw;
  font-size: 1.9vw;
  position: absolute;
  top: -5vw;
  left: -15vw;
}

.image-about div span {
  background-color: var(--primary-color-transparent);
}

/* About skills */

.about-skills {
  margin: 20vw 100px 0px 100px;
}

.about-skills > div {
  margin-top: 50px;
  overflow: hidden;
}

.fake-skills {
  background-color: var(--backgrounf-color);
  transition: all 0.7s ease-in-out;
  overflow: hidden;
  margin: auto;
  width: 100%;
}

.fake-skills > div {
  font-size: 20px;
  font-family: "Questrial", sans-serif;
  display: grid;
  grid-template-columns: 170px auto;
}

.skill-box > div {
  width: 35px;
  height: 2.5px;
  margin: auto 25px;
  background-color: rgb(54, 54, 54);
}

.skill-box {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.skill-box .box-skills-empty {
  background-color: rgba(54, 54, 54, 0.342);
}

.fake-skills-interrogation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  margin: auto;
  padding: auto;
  width: 20px;
  height: 100%;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.fake-skills-interrogation button {
  white-space: nowrap;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 3px solid var(--primary-color-transparent);
  background-color: transparent;
  font-family: "Questrial", sans-serif;
  word-wrap: normal;
  font-size: 40px;
  padding: 10px;
}

.fake-skills-interrogation button:hover {
  color: white;
  background-color: var(--primary-color-transparent);
  transition: all 0.3s ease-in-out;
}

.fake-skills:hover .fake-skills-interrogation {
  opacity: 1;
}

.fake-skills:hover .fake-skills-interrogation {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 0;
  width: 100%;
}

.about-skills > div {
  position: relative;
}

.true-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Questrial", sans-serif;
}

.true-skills .no-sense {
  color: var(--primary-color);
  font-size: 26px;
}

.true-to-fake button div, .go-top button div {
  background-image: url(../images/svg/undo-alt-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px;
  margin: 30px;
}

.true-to-fake button, .go-top button {
  border-radius: 50%;
  border: 3px solid black;
  cursor: pointer;
  background-color: transparent;
}

.true-to-fake button:hover, .go-top button:hover {
  border: 3px solid var(--primary-color-transparent);
  background-color: var(--primary-color-transparent);
}

.true-to-fake button:hover div {
  background-image: url(../images/svg/undo-alt-solid-hover.svg);
  transition: all 0.4s ease-in-out;
}

/* Technical Skills */

.technical-skills > div {
  margin-top: 70px;
}

.technical-skills ul {
  justify-content: flex-start;
}

.technical-skills li {
  display: inline;
  margin: 0px;
  font-size: 20px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}

.technical-skills li div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.technical-skills li div img {
  width: 50px;
  margin-bottom: 10px;
}

/* Footer */

.footer-container {
  position: relative;
}

.footer-container h1 {
  text-align: left;
}

.contact-interested a {
  color: gray;
  text-decoration: underline;
}

.email-phone {
  margin-top: 70px;
}

.email-phone h3 a {
  font-family: "Croissant One", cursive;
  display: inline;
}

.email-phone h3 a:hover,
.menu-footer li a:hover,
.contact-interested a:hover {
  color: var(--primary-color);
}

.menu-footer {
  display: flex;
  justify-content: left;
}

.menu-footer li {
  margin: 40px 30px 20px 0px;
  font-size: 30px;
}

.go-top {
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.go-top button div {
  background-image: url(../images/svg/arrow-up-solid.svg);
  padding: 30px;
  margin: 15px; 
}

.go-top button:hover div {
  background-image: url(../images/svg/arrow-up-solid-hover.svg);  
}

.go-top button:hover{
  border: 3px solid var(--primary-color-transparent);
  background-color: var(--primary-color-transparent);
}

.email-phone {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.image-logo-footer img{
  padding: 10px;
  height: 70px;
}

.copyright p {
  text-align: center;
}
